env/
/.DS_Store
/data/.DS_Store
/__pycache__
/strats/__pycache__
__pycache__

.env
/data/r_*/
/data/b_*/
.vscode
build/
wrapper.so
potential.so
libpheval.so.0.6.0
pyrightconfig.json
/data/r*
/data/testa*