env/
/.DS_Store
/data/.DS_Store
/__pycache__
/strats/__pycache__
__pycache__

truncnorm/bin
truncnorm/lib
truncnorm/share
truncnorm/pyvenv.cfg

.env
/data/r_*/
/data/b_*/
.vscode
build/
wrapper.so
hs.so
pot.so
*.so
libpheval.so.0.6.0
pyrightconfig.json
/data/r*
/data/testa*
journal*
history*
stat*
plot*
.R*